@import url("./vendors/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&display=swap");
/*=============*/
/* Reset Style */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}
a:-webkit-any-link:focus-visible {
  outline: 0px;
}
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}
/*=============*/
/* Body | RTL */
body {
  /* padding-top: 10px; */
  color: var(--clr-body);
  background: var(--bg-body);
  font-size: 16px;
  font-weight: 400;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
/*=============*/
/* Variables */
:root {
  --bg-body: #ffffff;
  --clr-body: #23293f;
  --clr-primary: #1769cc;
  --clr-secondary: #f88160;
  --clr-success: #00bf00;
  --clr-gray: #f4f9ff;
  --clr-gray-1: #f2f6fa;
}
