@import url("../vendors/bootstrap.min.css");

/*=============*/
/* Fonts */
/* font weight light */
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova_light.otf");
  src: url("../fonts/proximanova_light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
/* font weight normal */
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova_regular.ttf");
  src: url("../fonts/proximanova_regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* font weight bold */
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova_bold.otf");
  src: url("../fonts/proximanova_bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
/* font weight bold talic */
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova_boldit.otf");
  src: url("../fonts/proximanova_boldit.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
/* font weight Extar bold */
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova_extrabold.otf");
  src: url("../fonts/proximanova_extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
/* font weight black */
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova_black.ttf");
  src: url("../fonts/proximanova_black.otf") format("opentype"),
    url("../fonts/proximanova_black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/* font weight black Italic*/
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova_blackit.otf");
  src: url("../fonts/proximanova_blackit.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

/*=============*/
/* Reset Style */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}
a:-webkit-any-link:focus-visible {
  outline: 0px;
}
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}
/*=============*/
/* Body | RTL */
body {
  color: var(--clr-body);
  background: var(--bg-body);
  font-size: 16px;
  font-weight: 400;
  font-family: "Proxima Nova", sans-serif;
}
/*=============*/
/* Variables */
:root {
  --bg-body: #ffffff;
  --clr-body: #000000;
  --clr-primary: #15115f;
  --clr-secondary: #feb109;
  --clr-warning: #f7a022;
  --clr-success: #09ca5f;
  --clr-gray: #c2c6cd;
  --clr-gray-1: #edeffe;

  --clr-third: #BB62FF;
  --clr-info: #7E71FE;
}
/*=============*/
/* Components */
.rmz-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 29px;
  border-radius: 40vw;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.rmz-btn.btn-primary {
  background: var(--clr-primary);
  color: white;
}
.rmz-btn.btn-link {
  padding: 0;
}
.rmz-btn.btn-secondary {
  background: var(--clr-secondary);
  color: var(--clr-primary);
}
/*=============*/
/* Header */
.rmz-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.rmz-header .rmz-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 20px 0;
}
.rmz-header .rmz-header__content .navbar {
  flex: 1.5;
  padding-block: 0;
}
.rmz-header .rmz-header__content .navbar .navbar-collapse {
  justify-content: center;
}
.rmz-header .rmz-header__content .navbar-nav {
  gap: 2.5rem;
  justify-content: flex-end;
  width: 100%;
}
.rmz-header .rmz-header__content .navbar-brand {
  padding: 0;
}
.rmz-header .rmz-header__content .navbar-nav .nav-link {
  color: #000000;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
}
.rmz-header .rmz-header__content .header-toolbar {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 23px;
  position: relative;
  flex-wrap: wrap;
}
.rmz-header .rmz-header__content .header-toolbar:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 44px;
  inset-inline-end: 30px;
  background-color: #000000;
  opacity: 0.05;
}
/*=============*/
/* Hero */
.rmz-hero {
  background: var(--clr-primary);
  padding-block: 2.8rem 4rem;
  padding-inline: 1.5rem;
}
.rmz-hero .rmz-hero__content .rmz-hero__title {
  font-size: 96px;
  font-weight: 700;
  line-height: 98.5px;
  letter-spacing: -4px;
  color: var(--clr-secondary);
  margin-bottom: 52px;
}
.rmz-hero .rmz-hero__content .rmz-hero__desc {
  font-size: 27px;
  font-weight: 400;
  line-height: 32px;
  color: #d9d9d9;
  margin-bottom: 75px;
}
.rmz-hero .rmz-subscription-form {
  display: flex;
  align-items: center;
  gap: 12px;
}
.rmz-hero .rmz-subscription-form .form-control {
  padding: 16px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #aaaaaa;
  border-radius: 4vw;
  max-width: 75%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #000;
  max-width: 340px;
}
.rmz-hero .rmz-subscription-form .form-control::placeholder {
  color: #aaaaaa;
}
.rmz-hero .rmz-subscription-form .form-control:focus-visible,
.rmz-hero .rmz-subscription-form .form-control:focus {
  box-shadow: 0 0 0px 2px var(--clr-secondary);
  border-color: var(--clr-secondary);
}
.rmz-hero .rmz-subscription-form .rmz-btn {
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 20px;
  min-width: 146px;
  border-color: transparent;
}
.rmz-hero .rmz-subscription-form .rmz-btn:focus,
.rmz-hero .rmz-subscription-form .rmz-btn:focus-visible {
  border-color: var(--clr-primary);
  outline: 2px solid var(--clr-secondary);
}
.rmz-hero .rmz-hero__img {
  max-width: 640px;
  mix-blend-mode: lighten;
}
/*=============*/
/* About */
.rmz-about {
  background: #fafafa;
  padding-block: 93px 82px;
  padding-inline: 24px;
  position: relative;
}
.rmz-about .rmz-about__content .rmz-about__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 55px;
  text-align: center;

  margin-inline: auto;
  color: var(--clr-primary);
  margin-bottom: 24px;
}
@media screen and (min-width: 992px) {
  .rmz-about .rmz-about__content .rmz-about__title {
    max-width: 640px;
  }
}
.rmz-about .rmz-about__content .rmz-about__desc {
  font-size: 24px;
  font-weight: 400;
  line-height: 55px;
  text-align: center;
  color: var(--clr-primary);
}
/*=============*/
/* Services */
.rmz-services {
  padding: 63px;
  position: relative;
}
.rmz-services .rmz-services__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2.8px;
  margin-bottom: 1rem;
  color: var(--clr-primary);
}
.rmz-services .rmz-services__title {
  font-size: 45px;
  font-weight: 700;
  line-height: 64.4px;
  color: #030d03;
  margin-bottom: 90px;
}
@media screen and (min-width: 992px) {
  .rmz-services .rmz-services__title > span {
    display: block;
  }
}
.rmz-services .rmz-services__list {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  counter-reset: service-counter;
}
.rmz-services .rmz-services__list .service-item {
  min-height: 350px;
  min-width: 356px;
  padding: 74px 30px 50px;
  flex: 1 0 30%;
  border-radius: 20px;
  background: #D9D9D9;
  position: relative;
  counter-increment: service-counter;
}
.rmz-services .rmz-services__list .service-item::before {
  content: counter(service-counter, decimal-leading-zero);
  width: 65px;
  height: 65px;
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: white;
  /* background: var(--clr-primary); */
  background: #030D03;
  border-start-start-radius: 20px;
  border-end-end-radius: 20px;
}
.rmz-services .rmz-services__list .service-item .service-item__title {
  font-size: 32px;
  font-weight: 800;
  line-height: 44.8px;
  color: #030D03;
  margin-bottom: 24px;
}
.rmz-services .rmz-services__list .service-item .service-item__desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #818181;
}
@media screen and (min-width: 992px) {
  .rmz-services .rmz-services__list .service-item .service-item__desc {max-width: 456px;}
  .rmz-services .rmz-services__list .service-item:first-child .service-item__title,
  .rmz-services .rmz-services__list .service-item:nth-child(2) .service-item__title,
  .rmz-services .rmz-services__list .service-item:nth-child(3) .service-item__title{max-width: 280px;}
}

.rmz-services .rmz-services__list .service-item:first-child{background: var(--clr-third);}
.rmz-services .rmz-services__list .service-item:nth-child(2){background: var(--clr-warning);}
.rmz-services .rmz-services__list .service-item:nth-child(3){background: var(--clr-success);}
.rmz-services .rmz-services__list .service-item:nth-child(4){background: var(--clr-info);}
.rmz-services .rmz-services__list .service-item:first-child .service-item__title,
.rmz-services .rmz-services__list .service-item:first-child .service-item__desc,
.rmz-services .rmz-services__list .service-item:nth-child(2) .service-item__title,
.rmz-services .rmz-services__list .service-item:nth-child(2) .service-item__desc,
.rmz-services .rmz-services__list .service-item:nth-child(3) .service-item__title,
.rmz-services .rmz-services__list .service-item:nth-child(3) .service-item__desc,
.rmz-services .rmz-services__list .service-item:nth-child(4) .service-item__title,
.rmz-services .rmz-services__list .service-item:nth-child(4) .service-item__desc{color: white}

/*=============*/
/* Portfolio */
.rmz-portfolio__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 50px;
}
.rmz-portfolio__header .rmz-portfolio__title {
  font-family: Proxima Nova;
  font-size: 20px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 2.8px;
  color: var(--clr-primary);
  text-transform: uppercase;
}
.rmz-portfolio__header .rmz-portfolio__filter {
  display: flex;
  align-items: center;
  gap: 35px;
}
.rmz-portfolio__header .rmz-portfolio__filter .rmz-btn.filter-btn {
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #C2C6CD;
  text-transform: uppercase;
  position: relative;
}
.rmz-portfolio__header .rmz-portfolio__filter .rmz-btn.filter-btn::before{
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background: #272B2B;
  bottom: -14px;
  transition: 0.3s width ease-in-out;
}
.rmz-portfolio__header .rmz-portfolio__filter .rmz-btn.filter-btn.mixitup-control-active,
.rmz-portfolio__header .rmz-portfolio__filter .rmz-btn.filter-btn:hover{color: #272B2B;}
.rmz-portfolio__header .rmz-portfolio__filter .rmz-btn.filter-btn.mixitup-control-active::before,
.rmz-portfolio__header .rmz-portfolio__filter .rmz-btn.filter-btn:hover::before{width: 100%;}

.rmz-portfolio__items .row .row{height: calc(100% - 30px);}
.rmz-portfolio__items .portfolio-item {
  height:  calc(100% - 30px);
  align-items: stretch;
  display: flex;
  margin-bottom: 30px;
}
.rmz-portfolio__items .portfolio-item img {
  object-fit: cover;
}
.rmz-portfolio__more {
  text-align: center;
  margin-bottom: 25px;
}
.rmz-portfolio__more .rmz-btn {
  border-radius: 20px;
  font-size: 20px;
  line-height: 26px;
  min-width: 230px;
  font-weight: 400;
}
/*=============*/
/* General */
.text-warning {
  color: var(--clr-warning);
}